<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <meta name="author" content="Roger Colquehuanca ">
    <meta name="description" content="rogergcc | Movies Trivia Adventure" />
    <meta name="keywords" content="" />
    <meta name="robots" content="noodp" />

  
    <meta itemprop="name" content="Movies Trivia Adventure">
    <meta itemprop="description" content="Films adventures">
  
    <meta property="og:site_name" content="Movies Trivia Adventure_">
    <meta property="og:url" content="/">
    <meta property="og:title" content="Movies Trivia Adventure">
    <meta property="og:image" content="https://www.rogercolquecalcina.me/assets/f_movies.webp">
    <meta property="twitter:image" content="https://www.rogercolquecalcina.me/assets/f_movies.webp">
    <meta property="og:locale" content="en-us">
  
    <meta name="twitter:card" content="summary_large_image"/>
  
  
    <meta name="twitter:title" content="Movies Trivia Adventure"/>
    <meta name="twitter:description" content="Films all time"/>

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <title>FRONT FILMS</title>

    <link href="./css/css2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/generics.css">
  </head>

  <body>

    <header class="header">
      <h1 class="title">FILMS PROJECT GAME</h1>

    

      <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                
                <img src=<%= movie.poster_path %> alt=<%= movie.backdrop_path %>>
                <strong><%= movie.title %></strong>
                <span> <%= movie.release_date %></span>
            </li>
        <% }); %>
      </ul>

  </body>

</html>