<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <title>FRONT FILMS</title>

    <link href="./css/css2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/generics.css">
  </head>

  <body>

    <header class="header">
      <h1 class="title">FILMS PROJECT GAME</h1>

    

      <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                
                <img src=<%= movie.poster_path %> alt=<%= movie.backdrop_path %>>
                <strong><%= movie.title %></strong>
                <span> <%= movie.release_date %></span>
            </li>
        <% }); %>
      </ul>

  </body>

</html>