body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: #272727;
}



ul.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
ul li.item{
    width: 200px;
    height: auto;
    color: beige;
    padding: 1rem;
}

