doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // displays site properly based on user's device
  link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
  //- title FRONT FILMS
  title #{titulo} | Index
  link(rel='stylesheet', href='./css/css2.css')
  link(rel='stylesheet' type='text/css' href='./css/generics.css')
  link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap' rel='stylesheet')
  

#spinner.show


.content__header
  h1.heading Movies
  
.content__filter
  div#filter__generes.filter-generes
.content
  

  
script(src='./scripts/script.js')

