doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // displays site properly based on user's device
  link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
  //- title FRONT FILMS
  title #{titulo} | Index
  meta(name='author' content='Roger Colquehuanca')
  meta(name='description' content='rogergcc | Movies Trivia Adventure')
  meta(name='keywords' content='')
  meta(name='robots' content='noodp')
  meta(itemprop='name' content='Movies Trivia Adventure')
  meta(itemprop='description' content='Movies all time')
  meta(property='og:site_name' content='Movies-Go')
  meta(property='og:url' content='/')
  meta(property='og:title' content='Movies-Go')
  meta(property='og:image' content='favicon.png')
  meta(property='og:locale' content='en-us')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content='Movies Trivia Adventure')
  meta(name='twitter:description' content='Movies all time')


  link(rel='stylesheet', href='./css/css2.css')
  link(rel='stylesheet' type='text/css' href='./css/generics.css')
  link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap' rel='stylesheet')
  

#spinner.show


.content__header
  h1.heading Movies
  
.content__filter
  div#filter__generes.filter-generes
.content
  

  
script(src='./scripts/script.js')

